
/* SELETORES */

/* tag (nome da tag) */
body{
    background-color: #f0f0f0;
}

/* id (#) */
#topo{
    background-color: #0c0a80;
}
    #topo #logo{
        width: 260px;    
        height: auto;
    }

    #topo .menu-horizontal{ 
        text-decoration: none;
    }

    #topo .menu-horizontal li{
        list-style: none;
        margin-left: 10px;
     }



#conteudo{
    background-color: #dfdfdf;
}
    #conteudo .menu-vertical li{
        list-style: none;
    }


#rodape{
    background-color: #164902;
}
    #rodape .menu-vertical li{
        list-style: none;
    }



/* classes (.) */
.bg-fundo-escuro{
    color: #f0f0f0;
}

.bg-fundo-claro{
    color: #333333;
}

.flex-container{
    display: flex;
}